.navbar {
    position: sticky;
    max-width: 1400px;
    display: flex;
    background: linear-gradient(to right, #003E85, #206DB4, #003E85);
    height: 100px;
    margin: 0 auto;

}

.flex-container {
    display: flex;
    flex: 0 0 100%;

}

.navbar ul li {
    display: inline-block;
}

a.nav-link {
    padding-left: 50px;
    padding-right: 0;
}


.no-margin {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

#searchbar-form {
    background-color: white;
    width: 350px;
    height: 42px;
    border-radius: 15px;
    padding: 9px 10px 10px 20px;
    position: relative;
    font-size: 0.8em;
}

.center-div {
    vertical-align: middle;
}

#searchbar-form input {
    border: none;
    border-radius: inherit;
    position: inherit;
    vertical-align: inherit;
    width: 290px;
    padding: 0;
}

#searchbar-form input:focus {
    outline: none;
}

#searchbar-form button {
    border-radius: inherit;
    background-color: white;
    border: none;
    margin: 0;
    position: inherit;
    width: auto;
    vertical-align: inherit;
    width: 25px;
}

ion-icon {
    font-size: 1.5em;
    color: #0499DB;
    display: block;
    margin: auto;
}

ion-icon#shopping-cart {
    margin-left: 0;
}

span {
    font-size: 12px;
    color: white;
}

button#search-button {
    background-color: transparent;
}

ul.navbar-right-elements {
    display: flex;
}

.float-right {
    float: right;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-5 {
    flex: 5;
}


@media only screen and (max-width: 768px) {}