<!-- <!DOCTYPE html>

<div class="navbar" >
    <div class="flex-container">
        <div class="flex-1"></div>
        <div class="flex-2">
            <img src="../../../resources/icons/Logo.svg" style="width:40%;height:100%;"></img>
        </div>

        <div class="flex-5 margin-auto">
            <ul class="navbar-right-elements no-margin">
                <li class="flex-1">
                    <form action="/search" method="get" id="searchbar-form">
                        <div class="center-div">
                            <input type="search" name="sSearch" class="" autocomplete="off" autocapitalize="off"
                                placeholder="Suchbegriff oder Produkt eingeben..." maxlength="60" value="">
                            <button type="submit" id="search-button">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item flex-2">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item flex-2">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item flex-2">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
            </ul>
        </div>
        <div class="flex-1"></div>

    </div>
</div> -->

<!DOCTYPE html>

<div class="left-navbar-container">
</div>

<div class="navbar">
    <div class="flex-container">

        <div class="flex-2">
            <img src="../../../resources/icons/Logo.svg" style="width:100px;height:100%;"></img>
        </div>
        <div class="flex-2 margin-auto">

            <form action="/search" method="get" id="searchbar-form">
                <div class="center-div">
                    <input type="search" name="sSearch" class="" autocomplete="off" autocapitalize="off"
                        placeholder="Suchbegriff oder Produkt eingeben..." maxlength="60" value="">
                    <button type="submit" id="search-button">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="flex-3 margin-auto">
            <ul class="navbar-right-elements no-margin float-right">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="bi bi-heart"></i>
                        <span>Merkzettel</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                            <i class="bi bi-person"></i>
                        <span>Mein Konto</span>
                    </a>
                </li>
                <li class="nav-item margin-auto">

                    <a class="nav-link" href="javascript:void(0)">
                        <i class="bi bi-cart3"></i>
                        <span>0,00€</span>
                    </a>

                </li>
            </ul>
        </div>


    </div>
</div>
<div class="right-navbar-container">
</div>

<!-- Example split danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>