<!DOCTYPE html>

<div class="left-navbar-container">
</div>

<div class="navbar container">
    <div class="flex-container">
        <div class="flex-2">
            <a href="./">
                <img class="nav-item" id="home" src="../../../resources/icons/Logo.svg"></img>
            </a>
        </div>
        <div id="searchbar-container" class="flex-3 margin-auto">

            <form action="/search" method="get" id="searchbar-form" class="text-center">
                <div class="">
                    <input type="search" name="sSearch" id="sSearch" class="" autocomplete="off" autocapitalize="off"
                        placeholder="Suchbegriff oder Produkt eingeben..." maxlength="60" value="">
                    <button type="submit" id="search-button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="flex-2 margin-auto">
            <ul class="navbar-right-elements no-margin float-right">
                <li>
                    <div>
                        <a class="nav-item nav-link" id="wishList">
                            <i class="bi bi-heart"></i>
                            <span>Merkzettel</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <a id="myAccount" type="button" data-bs-toggle="dropdown" class="nav-item nav-link"
                            href="">
                            <i class="bi bi-person"></i>
                            <span class="text-nowrap">Mein Konto</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="my-account">
                            <li class="sign-in-buttons">
                                <button id="my-account-sign-in-btn" class="btn btn-primary" type="button">
                                </button>
                            </li>
                            <li class="sign-in-buttons while-logged-in" id="reg-btn">
                                <button id="my-account-register-btn" class="btn btn-outline-primary" type="button">
                                    Registrieren
                                </button>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="margin-auto">
                    <div class="position-relative">
                        <div id="nav-shopping-cart">
                            <a id="shoppingCart" class="nav-item nav-link">
                                <span id="nav-badge-shopping-cart" class="bg-success rounded-pill badge"></span>
                                <i class="bi bi-cart3"></i>
                                <span id="nav-price-shopping-cart" class="text-wrap">0,00€</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="right-navbar-container">
</div>
<div id="modal-container">
</div>