<div class="section-shop-container">
    <h2 class="section-title">Suchergebnisse</h2>
    <div class="col-sm-8 ps-5">
        <div class="card h-100 btn carousel-card product-item">
            <img src="" class="card-img-top" alt="./images/">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <button id="btn-to-shopping-cart" type="button" class="btn btn-success">
            <i class="bi bi-cart-check-fill me-1"></i> In den Warenkorb
        </button>
    </div>
</div>

