div.brand-background {
    background-color: #F4F4F4;
}

.productgroup .product-title{
    max-height: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.productgroup .product-img{
    padding: 10px;
    height: 200px;
}

.col-card {
    height: 380px;
}