body, #content {
  background-color: #F4F4F4;
}

body > * {
  padding: 5px;
}

#navigation {
  padding: 0;
}

#categories {
  margin-bottom: 10px;
  box-shadow: 0 5px 10px silver;
} 

#footer * {
  color: #f8f9fa;
  font-weight: 300;
}
