body {
    margin: 0px;
    background-color: #f1f1f1;
}

.header {
    text-align: center;
}

.navigation {
    background-color: #333;
    position: sticky;
    top: 0;
}
.color {
    color: white;
}

.navigation a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}

.main-content {
    width: calc(70% - 50px);
    margin: 0px 10px;
    vertical-align: top;
}

body>* {
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.navigation a:hover {
    background-color: #666;
    color: rgb(89, 220, 89);

    /* border: 1px solid #333; */
}

.navigation a {
    display: block;
    float: left;
}

.navigation {
    display: flex;
}