button.carousel-control-next {
    width: 15%;
    /* filter: invert(100%); */
}

button.carousel-control-prev {
    width: 10%;
    /* filter: invert(100%); */
}

span.carousel-control-next-icon {
    background-color: #245392;
    margin-right: 2px;
    height: 30px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
}