button.carousel-control-next, button.carousel-control-prev {
    width: 5%;
    /* filter: invert(100%); */
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
    background-color: grey;
    margin-right: 2px;
    height: 30px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;

}

button.carousel-control-prev, button.carousel-control-next {
height: fit-content;
top: 45%;
}



div.brand-background {
    background-color: #F4F4F4;

}

.brand-card {
    border: none !important;
    padding: 20px;
    transition: padding 0.7s;
}

.brand-card:hover {
    padding: 10px;
    cursor: pointer;
}

.brand-img {
    z-index: 100;
}

div.card.btn {
    padding: 0;
    text-align: start;
}
