<div id="categories-component" class="container">
    <div class="row height-40 align-items-center">
        <div class="col text-center border-end category-button">Bauelemente</div>
        <div class="col text-center border-end">Mikrocontroller</div>
        <div class="col text-center border-end">Löttechnik</div>
        <div class="col text-center border-end">Haustechnik</div>
        <div class="col text-center border-end">Messtechnik</div>
        <div class="col text-center">Netzwerktechnik</div>
      </div>
</div>