.height-40 {
    height: 40px;
}

.category-btn {
    cursor: pointer;
    height: 100%; 
    padding-top: 8px;

}

.category-span {
    display:inline-block;
    border-bottom:2px solid black;

    padding-bottom:1px;
}

.list-group a {
    background-color: inherit;
    font-size: smaller;
    cursor: pointer;
}
