<div id="categories-component" class="container sticky-top">
    <div class="row row-cols-7 height-40 align-items-center">

        <div id="components" class="col text-center border-end category-btn" data-bs-toggle="collapse" href="#collapse-container"
            role="button" aria-expanded="false" aria-controls="collapse-container">
            <span>Bauelemente</span>
        </div>
        <div id="tools" class="col text-center border-end category-btn" data-bs-toggle="collapse"
            role="button" aria-expanded="false" aria-controls="collapse-container">
            <span>Werkzeug</span>
        </div>
        <div id="cable" class="col text-center border-end category-btn" data-bs-toggle="collapse"
            role="button" aria-expanded="false" aria-controls="collapse-container">
            <span>Kabel</span>
        </div>
        <div id="microcontroller" class="col text-center border-end category-btn" data-bs-toggle="collapse" href="#mikrocontroller"
            role="button" aria-expanded="false" aria-controls="mikrocontroller">
            <span>Mikrocontroller</span>
        </div>
        <div id="soldering" class="col text-center border-end category-btn">
            <span>Löttechnik</span>
        </div>
        <div id="computer" class="col text-center border-end category-btn">
            <span>Computer</span>
        </div>
        <div id="measurement" class="col text-center border-end category-btn">
            <span>Messtechnik</span>
        </div>
        <div id="network" class="col text-center category-btn">
            <span>Netzwerktechnik</span>
        </div>

    </div>
</div>

<div class="collapse border-top" id="collapse-container" >
    <div class="container">
        <div id="subcategory-row" class="row justify-content-center mt-3">
            <div class="col col-subcategory" style="text-align: start;">
                <ul class="list-group list-group-flush">
                    <p class="heading-subcategory h6 fw-normal ps-1 m-0 text-black-50 mb-2"></p>
                    <a class="list-item-subcategory list-group-item"></a>
                </ul>
            </div>
        </div>
    </div>
</div>