<div id="categories-component" class="container">
    <div class="row row-cols-7 height-40 align-items-center">
        <div class="col text-center border-end category-btn me-3 " data-bs-toggle="collapse" href="#collapse-container"
            role="button" aria-expanded="false" aria-controls="collapse-container">
        <span class="spann">Bauelemente</span>
        </div>

        <div class="col text-center border-end category-btn" data-bs-toggle="collapse" href="#mikrocontroller"
            role="button" aria-expanded="false" aria-controls="mikrocontroller">
            <span class="spann">Mikrocontroller</span>
        </div>
        <div class="col text-center border-end category-btn">
        <span>Löttechnik</span>
            
        </div>
        <div class="col text-center border-end category-btn">
            <span>Haustechnik</span>
        </div>
        <div class="col text-center border-end category-btn">
            <span>Messtechnik</span>
        </div>
        <div class="col text-center category-btn">
            <span>Netzwerktechnik</span>
        </div>
    </div>
</div>

<div class="collapse" id="collapse-container">
    <div class="card-body">
        bauelemente bauelemente bauelemente bauelemente bauelemente bauelemente bauelemente
    </div>
</div>
