<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anmelden</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-4 py-3">
                    <div class="mb-3">
                        <label for="exampleDropdownFormEmail1" class="form-label">E-Mail-Adresse</label>
                        <input type="email" class="form-control" id="form-email" placeholder="email@example.com" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleDropdownFormPassword1" class="form-label">Passwort</label>
                        <input type="password" class="form-control" id="form-password" placeholder="Passwort" />
                    </div>
                    <div id="container-remember-me" class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="form-checkbox" />
                            <label class="form-check-label" for="dropdownCheck">
                                Angemeldet bleiben
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="btn-sign-in" type="submit" class="btn btn-primary">Anmelden</button>
                    </div>
                </form>
                <div class="dropdown-divider"></div>
                <div id="text-align-center">
                    <a class="dropdown-item text-primary" style="margin: 10px 0 10px;" href="#">Neu hier? Jetzt
                        registrieren!</a>
                    <a class="dropdown-item text-primary" style="margin: 10px 0 10px;" href="#">Passwort vergessen?</a>
                </div>
            </div>

        </div>
    </div>
</div>