<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrieren</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-4 py-3">
                    <ul class="no-bullets">
                        <li>
                            <div class="mb-4 d-inline-block float-start" id="firstName">
                                <input type="text" class="form-control height-3em" id="form-first-name"
                                    placeholder="Vorname*" required="true"/>
                                <small class="form-text text-muted error" id="wrongInputFirstName">Keine Umlaute oder Sonderzeichen!</small>
                            </div>
                            <div class="mb-4 d-inline-block float-end" id="lastName">
                                <input type="text" class="form-control height-3em" id="form-last-name"
                                    placeholder="Nachname*" required="true"/>
                                <small class="form-text text-muted error" id="wrongInputLastName">Keine Umlaute oder Sonderzeichen!</small>
                            </div>
                        </li>
                        <li>
                            <div class="mb-4" id="email">
                                <input type="email" class="form-control height-3em" id="form-email"
                                    placeholder="E-Mail-Adresse*" required="true"/>
                                <small class="form-text text-muted error" id="errorMsg">Diese E-Mail-Adresse ist vergeben.</small>
                            </div>
                        </li>
                        <li>
                            <div class="mb-4" id="address">
                                <input type="text" class="form-control height-3em address" id="form-address"
                                    placeholder="Adresse*" required="true"/>
                                <small class="form-text text-muted error" id="wrongInputAddress">Keine Umlaute oder Sonderzeichen!</small>
                            </div>
                        </li>
                        <li>
                            <div class="mb-4">
                                <input type="password" class="form-control height-3em" id="form-password"
                                    placeholder="Passwort*" required/>
                            </div>
                        </li>
                        <li>
                            <div class="mb-4">
                                <input type="password" class="form-control height-3em" id="form-rep-password"
                                    placeholder="Passwort bestätigen*" required/>
                                    <small class="form-text text-muted error" id="errorPwd">Passwörter nicht gleich!</small>
                            </div>
                        </li>
                        <li>
                            <div id="container-remember-me" class="mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="form-checkbox" />
                                    <label class="form-check-label" for="dropdownCheck">
                                        Ich möchte den {webshop} Newsletter erhalten!
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <button id="btn-sign-up" type="submit"
                                    class="btn btn-primary height-3em">Registrieren</button>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="dropdown-divider"></div>
                <div id="text-align-center" class="border-top mb-3 pt-1">
                    <p class="fs-4 mt-2" href="#">Sie sind bereits Kunde?</p>
                    <button id="btn-sign-in" type="submit" class="btn btn-secondary height-3em my-account-sign-in-btn">Anmelden</button>
                </div>
            </div>

        </div>
    </div>
</div>