div #btn-sign-up {
    width: 418px;
}

#text-align-center {
    text-align: center;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.height-3em {
    height: 3em;
}

.modal-body >* input::-webkit-input-placeholder {
    font-size: 1.1em;
}

.error {
    visibility: hidden;
    display: none;
}

.invalid .error{
    visibility: collapse;
}